@model List<Post>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    foreach(var post in Model)
    {
        <h4>@post.Title</h4>
    }
}
